
body{
  color: #5a5a5a;
  padding-top: 5em;
}

#loading {
  padding-top: 0;
  display: block;
  text-align: center;
}

.img-circle {
  width: 7.5em;
  height: 7.5em;
}

.media {
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  font-size: 0.938em;
  display: block;
  height: 9em;
  z-index: 99;
  background-color: whitesmoke;
  padding: 0.625em;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
}
.media-heading {
  position : relative;
  margin-right: 11.25em;
}
