
body{
  color: #5a5a5a;
  padding-top: 2.5em;
}

#loading {
  padding-top: 0;
  display: block;
  text-align: center;
}

.img-circle {
  width: 7.5em;
  height: 7.5em;
}

.media {
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  font-size: 0.938em;
  display: block;
  height: 9em;
  width: 80em;
  border-bottom: 0.313em solid #c9c6c6;
  border-top: 0.313em solid #c9c6c6;
  border-right: 0.313em solid #c9c6c6;
  border-left: 0.313em solid #c9c6c6;
  z-index: 99;
  background-color: whitesmoke;
  padding: 0.625em;
}
.media-heading {
  position : relative;
  margin-right: 11.25em;
}
